@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

header {
    padding: 32px;
}

.nav_logo {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 40px;
    max-height: 40px;
    margin: 0 12px 0 0;
}

.logo_link {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;
    margin-left: 24px;
    color: black;
    text-decoration: none;
    margin: 0 24px;
}

.btn {
    background-color: #6415ff;
    color: white;
    padding: 6px 16px;
    font: 14px;
    text-decoration: none;
    font-weight: 900;
    border: none;
    border-radius: 12px;
  }

.nav_links {
color: black;
text-decoration: none;
padding: 24px;
max-height: 100vh;
padding: 0 0 4px;
margin: 0 24px;
font: 14px;
} 

.purple {
    color: purple;
}

/* landing */

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.container_img {
    width: 100%;
}

.left_column {
display: flex;
flex-direction: column;
width: 40%;
justify-content: center;
text-align: left;
}

.left_column-h1 {
    font-size: 48px;
}

.left_column-para {
    font-size: 18px;
    margin: 32px 0;
    color: #243e63;
    opacity: .7;
}
.email {
    padding: 20px 192px 20px 32px;
    border-radius: 9999px;
    border-width: 2px;
}
.email_box {
    display: flex;
    flex-direction: row;
}

.email_btn {
    position: relative;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 10rem;
    line-height: 1;
   }



.right_column {
    width: 60%;
}
