@import url('href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

header {
  padding: 32px;
}

.nav_logo {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 40px;
  max-height: 40px;
  margin: 0 12px 0 0;
}

.logo_link {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
  margin-left: 24px;
  color: black;
  text-decoration: none;
  margin: 0 24px;
}

.btn {
  background-color: #6415ff;
  color: white;
  padding: 6px 16px;
  font: 14px;
  text-decoration: none;
  font-weight: 900;
  border: none;
  border-radius: 12px;
}

.nav_links {
  color: black;
  text-decoration: none;
  padding: 24px;
  max-height: 100vh;
  padding: 0 0 4px;
  margin: 0 24px;
  font: 14px;
}

.purple {
  color: purple;
}

/* landing */

.container {
 
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 96px 0;
}

.container_img {
  width: 100%;
}

.left_column {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  text-align: left;
}

.left_column-h1 {
  font-size: 48px;
}

.left_column-para {
  font-size: 18px;
  margin: 32px 0;
  color: #243e63;
  opacity: 0.7;
}
.email {
  padding: 20px 192px 20px 32px;
  border-radius: 9999px;
  border-width: 2px;
  border: 2px solid #e5e7eb;
}

.email_btn {
 
  width: 10rem;
  line-height: 1;
 position: relative;
  --tw-bg-opacity: 1;
  background-color: rgba(100,21,255,var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(247,250,252,var(--tw-text-opacity));
  font-weight: bolder;
  border-radius: 9999px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: none;
  margin-top: .42rem;
  display: flex;
  left: 230px;
  bottom: 60px;
}
  


.left_column-footer {
  padding-top: 48px;
  font-weight: 700;
  color: #a0aec0;
  font-size: 0.75rem;
}

.faded {
  padding-top: 16px;
  opacity: 0.6;
  max-width: 333px;
}

.right_column {
  width: 60%;
}
